/* Definições gerais */
* {
    box-sizing: border-box;
}
body {
    font-family: "Open Sans", sans-serif;
    background-color: #f7f7f7;
    color: #333;
    margin: 0;
    padding: 0;
}
/* Cabeçalho */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 0 20px;
}
header img {
    max-height: 60%;
    max-width: 100%;
}
/* Conteúdo principal */
label {
    font-size: 16px;
    color: #333;
    width: 100%;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
}
h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 28px;
    color: #333;
}
select {
    width: 60%;
    padding: 10px 20px;
    font-size: 1.1em;
    border-radius: 10px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    color: #555;
    cursor: pointer;
    transition: all 0.3s ease;
}
select:hover {
    transition: all 1s ease;
    background-color: rgba(0, 164, 226, 0.04);
}
input[type="button"] {
    font-weight: bold;
    color: #ffffff;
    font-size: 16px;
    text-shadow: 0px 0px 4px #000000;
    box-shadow: 1px 1px 1px rgba(190, 226, 249, 0.3);
    padding: 10px;
    margin-top: 9px;
    width: 100%;
    cursor: pointer;
    border-radius: 8px;
    border: 0px solid #3866A3;
    background: #00A2E0;
    background: linear-gradient(to top, #00A2E0, #007CB4);
}
input[type="button"]:hover {
    color: #ffffff !important;
    background: #007CB4;
    background: linear-gradient(to top, #007CB4, #00A2E0);
}
input[type="submit"] {
    font-weight: bold;
    color: #ffffff;
    font-size: 16px;
    text-shadow: 0px 0px 4px #000000;
    box-shadow: 1px 1px 1px #BEE2F9;
    padding: 10px;
    margin-top: 9px;
    width: 100%;
    cursor: pointer;
    border-radius: 8px;
    border: 0px solid #3866A3;
    background: #00A2E0;
    background: linear-gradient(to top, #00A2E0, #007CB4);
}
input[type="submit"]:hover {
    color: #ffffff !important;
    background: #007CB4;
    background: linear-gradient(to top, #007CB4, #00A2E0);
}
form {
    width: 40%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
input[type="number"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid #ddd;
    width: 100%;
    margin-bottom: 20px;
    transition: border-color 0.3s ease;
    outline: none;
}
input[type="number"]:focus {
    border-color: #00A2E0;
}
input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid #ddd;
    width: 100%;
    margin-bottom: 20px;
    transition: border-color 0.3s ease;
    outline: none;
}
input[type="text"]:focus {
    border-color: #00A2E0;
}
/* Rodapé */
footer {
    background-color: #333;
    display: flex;
    position: absolute;
    bottom: 0;
    min-width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}
footer a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    margin: 0 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
footer a:hover {
    background-color: #000000;
    color: #333;
}